[submodule "extrn/common-code"]
	path = extrn/common-code
	url = https://github.com/mzhel/common-code.git
[submodule "extrn/polarssl"]
	path = extrn/polarssl
	url = https://github.com/polarssl/polarssl.git
